@{
    ViewBag.Title = "GetContent";
}

<h2>GetContent</h2>


<h3>
With Razor engine view
</h3>
<form id="form1">
<input type="text" id="txt" /><br />
<input type="text" id="txt1" /><br />

<input type="button" value="hello" />
<ul>
<li>
Hello
</li>
<li>World</li>
</ul>
</form>